// 颜色统一变量
// 首页/index背景颜色变量
$index-bg-color: #101010;
// 顶部导航颜色
$top-bg-color: #0f0f0f;
// 文字主要颜色
$index-text-color: #fff;
// 文字触碰后的颜色
$index-text-hover-color: #8f99ff;
// input聚焦后的颜色
$input-focus-color: #409EFF;
// input最大长度
$input-max-length: 180px;
// 滚动条颜色
$scrollbar-color: #191919;
// 下拉菜单辅助颜色
$dropdown-bg-color: #171717;
// 卡片背景颜色
$card-bg-color: #cccccc;
// 卡片meta背景颜色
$card-meta-bg-color: #999;
// tag-item背景颜色
$tag-item-bg-color: #1e1e1e;